body {
  padding: 1em;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
.message {
  padding: 10px;
  background: #FFFF99;
}

form.inline {
  display: inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}

button {
  border: none;
  border-radius: 7px;
  color: white;
  text-align: center;
  box-shadow: 0 1px #999
}

button.danger:hover {
    background-color: red;
}

button.safe:hover {
    background-color: green;
}

button:focus {outline:0;}

button:active {
  box-shadow: 0 0px;
  transform: translateY(1px);
}
