body {
  padding: 1em;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a.regular:link {
    color: #000000;
}

a.regular:visited {
    color: #000000;
}

a.regular:hover {
    color: gray;
}

a.regular:active {
    color: blue;
}
.message {
  padding: 10px;
  background: #2D848A;
  color: #FFFFFF;
}

form.inline {
  display: inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #3587A4;
  color: #FFFFFF;
  padding: 2px 6px 2px 6px;
  border: none;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 1px #999
}

.button:hover {
    background-color: #39A5AD;
}

.button:focus {outline:0;}

.button:active {
  box-shadow: 0 0px;
  transform: translateY(1px);
}

li {
  padding-top: 5px;
}
